# Remove .example from filename when you use this file. For example your env filename is .env only

PORT = "PORT"
CONNECTION_URL = "MONGO URL STRING" #example: mongodb+srv://<username>:<password>@<cluster>/<database-name>?retryWrites=true&w=majority